In [94]:
import pandas as pd
import os
import json

cwd = os.getcwd()
fundSummary = pd.read_excel(cwd + '/Summary_Managed Fund_Institutions.xlsx', sheet_name='Data1')

In [5]:
df = fundSummary.iloc[9:,:]

In [39]:
df1 = df.iloc[-8:,1:13]
df1

,CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS ;,"CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Deposits ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Short term securities ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Bonds, etc. ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Derivatives ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Loans and placements ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Shares ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Units in trusts ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Land, buildings and equipment ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other non-financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Overseas assets ;"
144,3549403,255131,81339,115515,50891,26870,680346,893935,258967,367008,35580,783819
145,3429851,279597,80361,117135,45127,27359,602047,851049,270845,369645,36517,750170
146,3444398,279892,81890,121222,46385,26135,614595,848970,275811,363296,37751,748453
147,3526404,281621,82815,127453,44658,26420,657958,869586,274467,361075,37137,763216
148,3637893,292244,83349,142145,45566,26930,670902,891131,274150,360198,37763,813515
149,3713711,301130,77860,147867,45555,26975,675978,898856,276286,358740,38039,866425
150,3731578,309407,80459,149059,52575,27721,671989,891374,288639,359460,38567,862326
151,3883663,313287,81148,160412,63881,28041,723843,906126,291669,357156,38193,919906

In [157]:
df1_pct = df1.copy()
df1_pct.iloc[:,1:] = df1_pct.iloc[:,1:].apply(lambda x: x/x.sum()*100, axis=1)
df1_pct

,CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS ;,"CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Deposits ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Short term securities ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Bonds, etc. ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Derivatives ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Loans and placements ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Shares ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Units in trusts ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Land, buildings and equipment ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other non-financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Overseas assets ;"
144,3549403,7.188002,2.291626,3.254493,1.433791,0.757029,19.16791,25.185517,7.296076,10.339998,1.002423,22.083135
145,3429851,8.151868,2.342987,3.415162,1.315713,0.797673,17.553148,24.812995,7.896696,10.777287,1.064682,21.871789
146,3444398,8.126002,2.377482,3.519394,1.346679,0.758768,17.843311,24.647834,8.007519,10.547439,1.096011,21.729561
147,3526404,7.986063,2.348425,3.614246,1.266388,0.749205,18.658033,24.659271,7.783193,10.239178,1.053112,21.642885
148,3637893,8.033331,2.291134,3.907344,1.252538,0.740264,18.442049,24.4958,7.535956,9.901281,1.038046,22.362257
149,3713711,8.108601,2.096555,3.981651,1.226671,0.726362,18.202224,24.203714,7.43962,9.659879,1.024285,23.330437
150,3731578,8.29159,2.156167,3.994532,1.408922,0.742876,18.008182,23.887333,7.735043,9.632927,1.033531,23.108896
151,3883663,8.066794,2.089471,4.130432,1.644865,0.722025,18.638156,23.331742,7.510154,9.196372,0.983427,23.686562

In [158]:
df1_pct_sort = df1_pct.iloc[:,[0,11,7,6,9,1]]
df1_pct_sort['Other'] = df1_pct.iloc[:,[8,3,2,4,10,5]].apply(lambda x: x.sum(), axis=1)

/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_15616/1648014712.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_pct_sort['Other'] = df1_pct.iloc[:,[8,3,2,4,10,5]].apply(lambda x: x.sum(), axis=1)

In [159]:
## Data for chart 1
df1_pct_sort["Period"] = ['Q1_2022','Q2_2022','Q3_2022','Q4_2022','Q1_2023','Q2_2023','Q3_2023','Q4_2023']        
df1_pct_sort = df1_pct_sort.iloc[:,[-1,0,1,2,3,4,5,6]]
df1_pct_sort

/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_15616/3641856133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_pct_sort["Period"] = ['Q1_2022','Q2_2022','Q3_2022','Q4_2022','Q1_2023','Q2_2023','Q3_2023','Q4_2023']

,Period,CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS ;,"CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Overseas assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Units in trusts ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Shares ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Land, buildings and equipment ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Deposits ;",Other
144,Q1_2022,3549403,22.083135,25.185517,19.16791,10.339998,7.188002,16.035438
145,Q2_2022,3429851,21.871789,24.812995,17.553148,10.777287,8.151868,16.832913
146,Q3_2022,3444398,21.729561,24.647834,17.843311,10.547439,8.126002,17.105853
147,Q4_2022,3526404,21.642885,24.659271,18.658033,10.239178,7.986063,16.814570
148,Q1_2023,3637893,22.362257,24.4958,18.442049,9.901281,8.033331,16.765281
149,Q2_2023,3713711,23.330437,24.203714,18.202224,9.659879,8.108601,16.495145
150,Q3_2023,3731578,23.108896,23.887333,18.008182,9.632927,8.29159,17.071071
151,Q4_2023,3883663,23.686562,23.331742,18.638156,9.196372,8.066794,17.080374

In [124]:
df2 = df.iloc[-9:,20:].reset_index(drop=True)

In [131]:
df2_growth = df2.copy()
for i, d in df2_growth.iterrows():
    if i == 0:
        df2_growth.loc[i,:] = 0
    else:
        df2_growth.loc[i,:] = (df2.loc[i,:] - df2.loc[i-1,:])/df2.loc[i-1,:]*100
df2_growth = df2_growth.iloc[1:,:]
df2_growth.columns = ['Total Managed Funds assets','Life insurance corporations','Superannuation (pension) funds','Public offer (retail) unit trusts','Friendly societies','Common funds','Cash management trusts']
df2_growth["Period"] = ['Q1_2022','Q2_2022','Q3_2022','Q4_2022','Q1_2023','Q2_2023','Q3_2023','Q4_2023']        
df2_growth = df2_growth.iloc[:,[7,0,1,2,3,4,5,6]]
df2_growth

,Period,Total Managed Funds assets,Life insurance corporations,Superannuation (pension) funds,Public offer (retail) unit trusts,Friendly societies,Common funds,Cash management trusts
1,Q1_2022,-1.322631,-1.493451,-1.044028,-3.28026,-2.487562,0.463246,-2.388255
2,Q2_2022,-4.169498,-4.572991,-4.413449,-1.483513,-3.826531,-5.141813,-14.1371
3,Q3_2022,0.202586,-1.039953,0.278221,0.369038,0.553569,1.48583,-6.679694
4,Q4_2022,2.745993,0.392498,2.929873,2.449441,2.672325,0.596475,-3.830192
5,Q1_2023,3.287425,2.075889,3.531301,1.764059,2.680965,3.764262,3.994616
6,Q2_2023,1.968538,-0.894519,2.174751,1.370432,3.12228,1.852814,-2.166134
7,Q3_2023,0.370941,-0.371509,0.706499,-1.996724,0.464184,2.83067,-0.404685
8,Q4_2023,4.131159,1.061957,4.348216,3.481455,5.166439,3.323138,-0.453214

In [162]:
# data for chart 1
df1_pct_sort.to_json('industry_sources.json', orient='records', lines=True, indent=2)
df2_growth.to_json('institution_growth.json', orient='records', lines=True, indent=2)