In [60]:
import pandas as pd
import numpy as np
import os
import json

cwd = os.getcwd()
fundSummary = pd.read_excel(cwd + '/Summary_Managed Fund_Institutions.xlsx', sheet_name='Data1')

In [61]:
df = fundSummary.iloc[9:,:]

In [62]:
df1 = df.iloc[-(5*4):,0:13]
df1['Date'] = pd.to_datetime(df['Date'])
df1['Date'] = df1['Date'].dt.to_period('Q')
df1

,Date,CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS ;,"CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Deposits ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Short term securities ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Bonds, etc. ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Derivatives ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Loans and placements ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Shares ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Units in trusts ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Land, buildings and equipment ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other non-financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Overseas assets ;"
132,2019Q1,2845639,242863,90390,99467,38866,33397,472181,783452,222573,293161,32276,537014
133,2019Q2,2948700,249459,88298,106644,33434,32730,499240,811979,227054,296601,30632,572630
134,2019Q3,3020729,254030,81045,111109,34738,34705,511505,829470,227253,304198,30168,602508
135,2019Q4,3076706,250324,87772,118227,35389,35751,514075,832544,226990,313390,30312,631933
136,2020Q1,2909683,282260,89067,107603,54570,35244,396381,746336,242168,314602,31683,609769
137,2020Q2,2990186,288149,99340,110684,48686,32414,465548,761860,237813,308984,30355,606354
138,2020Q3,3004179,280116,97464,110141,35205,31801,470350,783411,243980,310663,31263,609785
139,2020Q4,3153638,266209,93339,115981,43626,31804,546615,820200,236418,315398,31379,652668
140,2021Q1,3249674,265285,91797,116280,37926,31190,574564,841068,239300,321788,32852,697622
141,2021Q2,3415766,270914,78440,117950,37969,32052,629947,883190,243864,335361,34517,751561
142,2021Q3,3487112,262025,76447,118190,38468,33886,639676,903246,251343,346023,34630,783179
143,2021Q4,3575036,255449,79055,115420,43556,31962,660843,916205,255459,364018,35279,817789
144,2022Q1,3549403,255131,81339,115515,50891,26870,680346,893935,258967,367008,35580,783819
145,2022Q2,3429851,279597,80361,117135,45127,27359,602047,851049,270845,369645,36517,750170
146,2022Q3,3444398,279892,81890,121222,46385,26135,614595,848970,275811,363296,37751,748453
147,2022Q4,3526404,281621,82815,127453,44658,26420,657958,869586,274467,361075,37137,763216
148,2023Q1,3637893,292244,83349,142145,45566,26930,670902,891131,274150,360198,37763,813515
149,2023Q2,3713711,301130,77860,147867,45555,26975,675978,898856,276286,358740,38039,866425
150,2023Q3,3731578,309407,80459,149059,52575,27721,671989,891374,288639,359460,38567,862326
151,2023Q4,3883663,313287,81148,160412,63881,28041,723843,906126,291669,357156,38193,919906

In [63]:
df1_pct = df1.copy()
df1_pct.iloc[:,2:] = df1_pct.iloc[:,2:].apply(lambda x: x/x.sum()*100, axis=1).round(2)
df1_pct.sample(5)

,Date,CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS ;,"CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Deposits ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Short term securities ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Bonds, etc. ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Derivatives ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Loans and placements ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Shares ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Units in trusts ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Land, buildings and equipment ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other non-financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Overseas assets ;"
147,2022Q4,3526404,7.99,2.35,3.61,1.27,0.75,18.66,24.66,7.78,10.24,1.05,21.64
134,2019Q3,3020729,8.41,2.68,3.68,1.15,1.15,16.93,27.46,7.52,10.07,1.0,19.95
148,2023Q1,3637893,8.03,2.29,3.91,1.25,0.74,18.44,24.5,7.54,9.9,1.04,22.36
140,2021Q1,3249674,8.16,2.82,3.58,1.17,0.96,17.68,25.88,7.36,9.9,1.01,21.47
145,2022Q2,3429851,8.15,2.34,3.42,1.32,0.8,17.55,24.81,7.9,10.78,1.06,21.87

In [64]:
df1_pct_sort = df1_pct.iloc[:,[0,1,12,8,7,10,2]]
df1_pct_sort['Other'] = 100 - df1_pct.iloc[:,[12,8,7,10,2]].apply(lambda x: x.sum(), axis=1)
df1_pct_sort = df1_pct_sort.round(2)
df1_pct_sort.columns = ['Period', 'Total Assets',
    'Overseas assets',
    'Units in trusts',
    'Shares',
    'Land, buildings and equipment',
    'Deposits',
    'Others']
df1_pct_sort.sample(5)

/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_3962/1274713417.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_pct_sort['Other'] = 100 - df1_pct.iloc[:,[12,8,7,10,2]].apply(lambda x: x.sum(), axis=1)

,Period,Total Assets,Overseas assets,Units in trusts,Shares,"Land, buildings and equipment",Deposits,Others
137,2020Q2,2990186,20.28,25.48,15.57,10.33,9.64,18.70
145,2022Q2,3429851,21.87,24.81,17.55,10.78,8.15,16.84
142,2021Q3,3487112,22.46,25.9,18.34,9.92,7.51,15.87
151,2023Q4,3883663,23.69,23.33,18.64,9.2,8.07,17.07
150,2023Q3,3731578,23.11,23.89,18.01,9.63,8.29,17.07

In [65]:
df2 = df.iloc[-9:,20:].reset_index(drop=True)

In [66]:
df2_growth = df2.copy()
for i, d in df2_growth.iterrows():
    if i == 0:
        df2_growth.loc[i,:] = 0
    else:
        df2_growth.loc[i,:] = (df2.loc[i,:] - df2.loc[i-1,:])/df2.loc[i-1,:]*100
df2_growth = df2_growth.iloc[1:,:]
df2_growth = df2_growth.astype(float).round(2)
df2_growth.columns = ['Total managed funds assets','Life insurance corporations','Superannuation (pension) funds','Public offer (retail) unit trusts','Friendly societies','Common funds','Cash management trusts']
df2_growth["Period"] = ['Q1_2022','Q2_2022','Q3_2022','Q4_2022','Q1_2023','Q2_2023','Q3_2023','Q4_2023']
df2_growth = df2_growth.iloc[:,[7,0,1,2,3,4,5,6]]
df2_growth

,Period,Total managed funds assets,Life insurance corporations,Superannuation (pension) funds,Public offer (retail) unit trusts,Friendly societies,Common funds,Cash management trusts
1,Q1_2022,-1.32,-1.49,-1.04,-3.28,-2.49,0.46,-2.39
2,Q2_2022,-4.17,-4.57,-4.41,-1.48,-3.83,-5.14,-14.14
3,Q3_2022,0.20,-1.04,0.28,0.37,0.55,1.49,-6.68
4,Q4_2022,2.75,0.39,2.93,2.45,2.67,0.60,-3.83
5,Q1_2023,3.29,2.08,3.53,1.76,2.68,3.76,3.99
6,Q2_2023,1.97,-0.89,2.17,1.37,3.12,1.85,-2.17
7,Q3_2023,0.37,-0.37,0.71,-2.00,0.46,2.83,-0.40
8,Q4_2023,4.13,1.06,4.35,3.48,5.17,3.32,-0.45

In [67]:
df2_growth_pct = pd.DataFrame(columns=['Period', 'Institution', 'Rate'])
for i, d in df2_growth.iterrows():
    rows_to_add = []
    for j in range(1, 8):
        row = {'Period': d['Period'], 'Institution': df2_growth.columns[j], 'Rate': d[j]}
        rows_to_add.append(row)
    temp_df = pd.DataFrame(rows_to_add)
    df2_growth_pct = pd.concat([df2_growth_pct, temp_df], ignore_index=True)

/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_3962/2167543399.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  row = {'Period': d['Period'], 'Institution': df2_growth.columns[j], 'Rate': d[j]}
/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_3962/2167543399.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df2_growth_pct = pd.concat([df2_growth_pct, temp_df], ignore_index=True)

In [68]:
def first_letters(text,skip_letter='('):
    # Split the text into words and collect the first letter of each word
    return ''.join(word[0] for word in text.split() if not word.lower().startswith(skip_letter.lower()))
df2_growth_pct['identifier'] = df2_growth_pct['Institution'].apply(first_letters)
df2_growth_pct.sample(5)

     Period                     Institution  Rate identifier
50  Q4_2023     Life insurance corporations  1.06        Lic
37  Q2_2023  Superannuation (pension) funds  2.17         Sf
15  Q3_2022     Life insurance corporations -1.04        Lic
27  Q4_2022          Cash management trusts -3.83        Cmt
26  Q4_2022                    Common funds  0.60         Cf

In [69]:
df1_pct_sort.to_csv(cwd + '/df1_pct_sort.csv', index=False)
df2_growth_pct.to_csv(cwd + '/df2_growth_pct.csv', index=False)