In [17]:
import pandas as pd
import numpy as np
import os
import json

cwd = os.getcwd()
fundSummary = pd.read_excel(cwd + '/Summary_Managed Fund_Institutions.xlsx', sheet_name='Data1')

In [18]:
df = fundSummary.iloc[9:,:]

In [19]:
df1 = df.iloc[-8:,1:13]
df1

,CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS ;,"CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Deposits ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Short term securities ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Bonds, etc. ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Derivatives ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Loans and placements ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Shares ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Units in trusts ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Land, buildings and equipment ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other non-financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Overseas assets ;"
144,3549403,255131,81339,115515,50891,26870,680346,893935,258967,367008,35580,783819
145,3429851,279597,80361,117135,45127,27359,602047,851049,270845,369645,36517,750170
146,3444398,279892,81890,121222,46385,26135,614595,848970,275811,363296,37751,748453
147,3526404,281621,82815,127453,44658,26420,657958,869586,274467,361075,37137,763216
148,3637893,292244,83349,142145,45566,26930,670902,891131,274150,360198,37763,813515
149,3713711,301130,77860,147867,45555,26975,675978,898856,276286,358740,38039,866425
150,3731578,309407,80459,149059,52575,27721,671989,891374,288639,359460,38567,862326
151,3883663,313287,81148,160412,63881,28041,723843,906126,291669,357156,38193,919906

In [20]:
df1_pct = df1.copy()
df1_pct.iloc[:,1:] = df1_pct.iloc[:,1:].apply(lambda x: x/x.sum()*100, axis=1).round(2)
df1_pct

,CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS ;,"CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Deposits ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Short term securities ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Bonds, etc. ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Derivatives ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Loans and placements ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Shares ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Units in trusts ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Land, buildings and equipment ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Other non-financial assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Overseas assets ;"
144,3549403,7.19,2.29,3.25,1.43,0.76,19.17,25.19,7.3,10.34,1.0,22.08
145,3429851,8.15,2.34,3.42,1.32,0.8,17.55,24.81,7.9,10.78,1.06,21.87
146,3444398,8.13,2.38,3.52,1.35,0.76,17.84,24.65,8.01,10.55,1.1,21.73
147,3526404,7.99,2.35,3.61,1.27,0.75,18.66,24.66,7.78,10.24,1.05,21.64
148,3637893,8.03,2.29,3.91,1.25,0.74,18.44,24.5,7.54,9.9,1.04,22.36
149,3713711,8.11,2.1,3.98,1.23,0.73,18.2,24.2,7.44,9.66,1.02,23.33
150,3731578,8.29,2.16,3.99,1.41,0.74,18.01,23.89,7.74,9.63,1.03,23.11
151,3883663,8.07,2.09,4.13,1.64,0.72,18.64,23.33,7.51,9.2,0.98,23.69

In [21]:
df1_pct_sort = df1_pct.iloc[:,[0,11,7,6,9,1]]
df1_pct_sort['Other'] = df1_pct.iloc[:,[8,3,2,4,10,5]].apply(lambda x: x.sum(), axis=1)

/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_17352/1648014712.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_pct_sort['Other'] = df1_pct.iloc[:,[8,3,2,4,10,5]].apply(lambda x: x.sum(), axis=1)

In [22]:
## Data for chart 1
df1_pct_sort["Period"] = ['Q1_2022','Q2_2022','Q3_2022','Q4_2022','Q1_2023','Q2_2023','Q3_2023','Q4_2023']        
df1_pct_sort = df1_pct_sort.iloc[:,[-1,0,1,2,3,4,5,6]]
df1_pct_sort

/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_17352/3641856133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1_pct_sort["Period"] = ['Q1_2022','Q2_2022','Q3_2022','Q4_2022','Q1_2023','Q2_2023','Q3_2023','Q4_2023']

,Period,CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS ;,"CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Overseas assets ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Units in trusts ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Shares ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Land, buildings and equipment ;","CONSOLIDATED ASSETS TOTAL MANAGED FUNDS INSTITUTIONS, Deposits ;",Other
144,Q1_2022,3549403,22.08,25.19,19.17,10.34,7.19,16.03
145,Q2_2022,3429851,21.87,24.81,17.55,10.78,8.15,16.84
146,Q3_2022,3444398,21.73,24.65,17.84,10.55,8.13,17.12
147,Q4_2022,3526404,21.64,24.66,18.66,10.24,7.99,16.81
148,Q1_2023,3637893,22.36,24.5,18.44,9.9,8.03,16.77
149,Q2_2023,3713711,23.33,24.2,18.2,9.66,8.11,16.50
150,Q3_2023,3731578,23.11,23.89,18.01,9.63,8.29,17.07
151,Q4_2023,3883663,23.69,23.33,18.64,9.2,8.07,17.07

In [23]:
df1_pct_sort.columns = ['Period','Total Assets','Overseas assets','Units in trusts','Shares','Land, buildings and equipment','Deposits','Others']

In [24]:
df1_pct_sort

,Period,Total Assets,Overseas assets,Units in trusts,Shares,"Land, buildings and equipment",Deposits,Others
144,Q1_2022,3549403,22.08,25.19,19.17,10.34,7.19,16.03
145,Q2_2022,3429851,21.87,24.81,17.55,10.78,8.15,16.84
146,Q3_2022,3444398,21.73,24.65,17.84,10.55,8.13,17.12
147,Q4_2022,3526404,21.64,24.66,18.66,10.24,7.99,16.81
148,Q1_2023,3637893,22.36,24.5,18.44,9.9,8.03,16.77
149,Q2_2023,3713711,23.33,24.2,18.2,9.66,8.11,16.50
150,Q3_2023,3731578,23.11,23.89,18.01,9.63,8.29,17.07
151,Q4_2023,3883663,23.69,23.33,18.64,9.2,8.07,17.07

In [25]:
df2 = df.iloc[-9:,20:].reset_index(drop=True)

In [26]:
df2_growth = df2.copy()
for i, d in df2_growth.iterrows():
    if i == 0:
        df2_growth.loc[i,:] = 0
    else:
        df2_growth.loc[i,:] = (df2.loc[i,:] - df2.loc[i-1,:])/df2.loc[i-1,:]*100
df2_growth = df2_growth.iloc[1:,:]
df2_growth = df2_growth.astype(float).round(2)
df2_growth.columns = ['Total managed funds assets','Life insurance corporations','Superannuation (pension) funds','Public offer (retail) unit trusts','Friendly societies','Common funds','Cash management trusts']
df2_growth["Period"] = ['Q1_2022','Q2_2022','Q3_2022','Q4_2022','Q1_2023','Q2_2023','Q3_2023','Q4_2023']
df2_growth = df2_growth.iloc[:,[7,0,1,2,3,4,5,6]]
df2_growth

,Period,Total managed funds assets,Life insurance corporations,Superannuation (pension) funds,Public offer (retail) unit trusts,Friendly societies,Common funds,Cash management trusts
1,Q1_2022,-1.32,-1.49,-1.04,-3.28,-2.49,0.46,-2.39
2,Q2_2022,-4.17,-4.57,-4.41,-1.48,-3.83,-5.14,-14.14
3,Q3_2022,0.20,-1.04,0.28,0.37,0.55,1.49,-6.68
4,Q4_2022,2.75,0.39,2.93,2.45,2.67,0.60,-3.83
5,Q1_2023,3.29,2.08,3.53,1.76,2.68,3.76,3.99
6,Q2_2023,1.97,-0.89,2.17,1.37,3.12,1.85,-2.17
7,Q3_2023,0.37,-0.37,0.71,-2.00,0.46,2.83,-0.40
8,Q4_2023,4.13,1.06,4.35,3.48,5.17,3.32,-0.45

In [27]:
df2_growth_pct = pd.DataFrame(columns=['Period', 'Institution', 'Rate'])
for i, d in df2_growth.iterrows():
    rows_to_add = []
    for j in range(1, 8):
        row = {'Period': d['Period'], 'Institution': df2_growth.columns[j], 'Rate': d[j]}
        rows_to_add.append(row)
    temp_df = pd.DataFrame(rows_to_add)
    df2_growth_pct = pd.concat([df2_growth_pct, temp_df], ignore_index=True)

/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_17352/2167543399.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  row = {'Period': d['Period'], 'Institution': df2_growth.columns[j], 'Rate': d[j]}
/var/folders/m5/2zm1zfkj0f34zf9y6m_q_6yw0000gn/T/ipykernel_17352/2167543399.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df2_growth_pct = pd.concat([df2_growth_pct, temp_df], ignore_index=True)

In [28]:
def first_letters(text,skip_letter='('):
    # Split the text into words and collect the first letter of each word
    return ''.join(word[0] for word in text.split() if not word.lower().startswith(skip_letter.lower()))
df2_growth_pct['identifier'] = df2_growth_pct['Institution'].apply(first_letters)
df2_growth_pct.sample(5)

     Period                  Institution  Rate identifier
43  Q3_2023  Life insurance corporations -0.37        Lic
41  Q2_2023       Cash management trusts -2.17        Cmt
35  Q2_2023   Total managed funds assets  1.97       Tmfa
49  Q4_2023   Total managed funds assets  4.13       Tmfa
55  Q4_2023       Cash management trusts -0.45        Cmt

In [29]:
df1_pct_sort.to_csv(cwd + '/df1_pct_sort.csv', index=False)
df2_growth_pct.to_csv(cwd + '/df2_growth_pct.csv', index=False)