In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

cwd = os.getcwd()

In [12]:
input1 = pd.read_excel(cwd + '/home_ownership_rates.xlsx')
input1[input1["ownership_rate"] == 0] = np.nan
input1[["state", "birth_year", "age_group"]] = input1[["state", "birth_year","age_group"]].astype(str)
input1.dropna(inplace=True)
input1["generation"] = input1["birth_year"].map({
    "1947–1951": "Baby Boomers",
    "1952–1956": "Baby Boomers",
    "1957–1961": "Baby Boomers",
    "1962–1966": "Generation X",
    "1967–1971": "Generation X",
    "1972–1976": "Generation X",
    "1977–1981": "Generation X",
    "1982–1986": "Millennials",
    "1987–1991": "Millennials",
    "1992–1996": "Millennials"
})
input1

                  state birth_year age_group  ownership_rate    generation
0             Australia  1947–1951     25–29            54.2  Baby Boomers
1             Australia  1947–1951     30–34            68.0  Baby Boomers
2             Australia  1947–1951     35–39            72.3  Baby Boomers
3             Australia  1947–1951     40-44            75.1  Baby Boomers
4             Australia  1947–1951     45-49            77.8  Baby Boomers
..                  ...        ...       ...             ...           ...
871  Northern Territory  1982–1986     30–34            32.3   Millennials
872  Northern Territory  1982–1986     35–39            40.1   Millennials
880  Northern Territory  1987–1991     25–29            23.9   Millennials
881  Northern Territory  1987–1991     30–34            31.8   Millennials
890  Northern Territory  1992–1996     25–29            21.3   Millennials

[495 rows x 5 columns]

In [13]:
input1.to_csv(cwd + '/home_ownership_rates.csv', index=False)